{% extends "base.html" %}

{% block content %}
<style>
    body {
      position: relative;
    }
    body::after {
      content: "";
      background-image: url({{ url_for('static', filename='img/singleking-desktop.jpg') }});
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
    .container {
        color: green;
    }
    .error-input {
      border-color: red;
      border-width: 1px;
      border-style: solid;
    }
</style>

<div class="container">
 <div class="row">
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mt-3 mb-3 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            {% include 'components/flash-message.html' %}
            {% include 'components/validation-message.html' %}
            <div class="card bg-white">
              <div class="card-body p-5">
                <form class="mb-3 mt-md-4">
                  <h2 class="fw-bold mb-2 text-uppercase ">Wachtwoord Vergeten?</h2>
                  <div class="mb-3">
                    {{ form.email.label }} {{ form.email(class_=' '.join(['form-control'] + (['error-input'] if form.email.errors else []))) }}
                  </div>
                  <div class="d-grid">
                    {{ form.submit }}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </form>
  </div>
</div>

{% endblock %}
