{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            {% include 'components/flash-message.html' %}
            {% include 'components/validation-message.html' %}
            <div class="card bg-white mt-3 mb-3">
                <div class="card-body p-5">
                    <form method="post">
                        {{ form.csrf_token }}
                        {{ form.hidden_tag() }}
                        <h2 class="fw-bold mb-2 text-uppercase">Wachtwoord Vergeten?</h2>
                        <div class="mb-3">
                            {{ form.email.label }} {{ form.email(class_='form-control ' + ('error-input' if form.email.errors else '')) }}
                        </div>
                        <div class="d-grid">
                            {{ form.submit }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
