{% extends "base.html" %}

{% block content %}


<div class="row mt-4 mb-4">
  <div class="col">
    <form action="">

      <div class="form-tag">
        <select class="form-select form-select-lg" id="room_id" name="room_id" required>
          <option value="double queen" selected>Double Queen</option>
        </select>
        <small class="form-text ms-3 text-muted">Kamertype die gekozen is.</small>
      </div>
      
      <br><br>
      
      <div class="form-tag">
        <select class="form-select form-select-lg" id="room_number" name="room_number" required>
          <option selected>Kies een kamernummer</option>
          <option value="101">101</option>
        </select>
        <small class="form-text ms-3 text-muted">Kamernummer die gekozen is.</small>
      </div>
      
      <br><br>

      <div class="form-tag">
        <div class="input-group">
          <span class="input-group-text"></span>
          <input type="date" class="form-control-lg" id="date-start" name="date-start" required>
        </div>
        <small class="form-text ms-3 text-muted">Startdatum van boeking.</small>
      </div>
    
      <br><br>

      <div class="form-tag">
        <div class="input-group">
          <span class="input-group-text"></span>
          <input type="date" class="form-control-lg" id="date-end" name="date-end" required>
        </div>
        <small class="form-text ms-3 text-muted">Einddatum van boeking.</small>
      </div>

      <br><br>

      <div class="form-tag">
        <div class="input-group">
          <span class="input-group-text"></span>
          <textarea class="form-control-lg"></textarea>
        </div>
        <small class="form-text ms-3 text-muted">Notites van boeking.</small>
      </div>

      <br><br>

      <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg me-3 text-white">Doorgaan</button>
        <button type="submit" class="btn btn-warning btn-lg me-3 text-white">Teruggaan</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
