{% extends "base.html" %}

{% block content %}

<div class="container mt-4 mb-4">
  <div class="row">
    <form method="post">
      <input type="hidden" id="room_name" name="room_name" value="{{ get_room_type.name }}">
      <div class="form-tag mb-3">
        {% include 'components/flash-message.html' %}
        <div class="breadcrumb flat" style="text-align: center">
            <a href="/rooms/step-1/{{ get_room_type.slug }}" class="active">Stap 1</a>
            <a href="/rooms/step-2/{{ get_room_type.slug }}">Stap 2</a>
            <a href="/rooms/step-3/{{ get_room_type.slug }}">Stap 3</a>
            <a href="/rooms/step-4/{{ get_room_type.slug }}">Reservering</a>
        </div>
        <select class="form-select form-select-lg" id="room_type" name="room_type" required>
          <option value="{{ get_room_type.slug }}" selected>{{ get_room_type.name }}</option>
        </select>
        <small class="form-text ms-3 text-muted">Kamertype die gekozen is.</small>
      </div>
      <div class="form-tag mb-3">
        <select class="form-select form-select-lg" id="room_number" name="room_number" required>
          {% for room in get_rooms %}
            <option value="{{ room.number }}"
                    {% if previous_data.room_number|string == room.number|string %}selected{% endif %}>
                {{ room.number }}</option>
          {% endfor %}
        </select>
        <small class="form-text ms-3 text-muted">Kamernummer die gekozen is.</small>
      </div>

      <div class="form-tag mb-3">
        <div class="input-group">
          <span class="input-group-text"></span>
          <input type="date" class="form-control-lg" id="date_start" name="date_start" value="{{ previous_data.date_start }}" required>
        </div>
        <small class="form-text ms-3 text-muted">Startdatum van boeking.</small>
      </div>

      <div class="form-tag mb-3">
        <div class="input-group">
          <span class="input-group-text"></span>
          <input type="date" class="form-control-lg" id="date_end" name="date_end" value="{{ previous_data.date_end }}" required>
        </div>
        <small class="form-text ms-3 text-muted">Einddatum van boeking.</small>
      </div>

      <div class="form-tag mb-3">
        <div class="input-group">
          <span class="input-group-text"></span>
            <label>
                <textarea class="form-control-lg" id="notes" name="notes">{{ previous_data.notes }}</textarea>
            </label>
        </div>
        <small class="form-text ms-3 text-muted">Notites van boeking.</small>
      </div>
      <br><br>
      <div class="text-center">
        <button type="submit" class="btn btn-success btn-lg me-3 text-white">Doorgaan</button>
        <button type="submit" class="btn btn-warning btn-lg me-3 text-white">Teruggaan</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
