{% extends "base.html" %}

{% block content %}
{% include 'components/form-template.html' %}

<section style="">
  <div class="container mt-5 mb-5">
    <div class="row">
      {% include 'components/flash-message.html' %}
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
              <img src="{{ url_for('static', filename='img/calm-forest.jpeg') }}" alt="avatar"
              class="rounded-circle" width="100" height="100">
            <h5 class="my-3">Test</h5>
            <div class="d-flex justify-content-center mb-2">
              <a type="button" href="/rooms/index" class="btn btn-primary">Kamer Boeken</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><strong>Gebruikersnaam:</strong></p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0">{{ current_user.username }}</p>
              </div>
              <div class="col-sm-5">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-username">Naam Wijzigen</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><strong>Email:</strong></p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0">{{ current_user.email }}</p>
              </div>
              <div class="col-sm-5">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-email">Email Wijzigen</button>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0"><strong>Rol:</strong></p>
              </div>
              <div class="col-sm-4">
                <p class="text-muted mb-0">{{ 'Administrator' if current_user.is_admin == 1 else 'Member' }}</p>
              </div>
            </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card mb-4 mb-md-0">
          <div class="card-body">
            <p class="mb-4"><span class="text-primary font-italic me-1">Statistieken</span>
            </p>
            <p class="mb-1" style="font-size: .77rem;"><strong>Aantal</strong></p>
            <div class="input-group">
              <span class="input-group-text"></span>
                <input required type="text" class="form-control-lg" id="count_bookings" disabled value="{{ count_bookings }}">
            </div>
            <p class="mb-1" style="font-size: .77rem;"><strong>Lopend</strong></p>
            <div class="input-group">
              <span class="input-group-text"></span>
                <input required type="text" class="form-control-lg" id="count_bookings" disabled value="{{ count_current }}">
            </div>
            <p class="mb-1" style="font-size: .77rem;"><strong>Verlopen</strong></p>
            <div class="input-group">
              <span class="input-group-text"></span>
                <input required type="text" class="form-control-lg" id="count_bookings" disabled value="{{ count_expired }}">
            </div>
            <p class="mb-1" style="font-size: .77rem;"><strong>Meest Geboekt</strong></p>
            <div class="input-group">
              <span class="input-group-text"></span>
                <input required type="text" class="form-control-lg" id="count_bookings" disabled value="{{ room_type.name }} - {{ room.number }}">
            </div>
          </div>
          {% include 'components/username-modal.html' %}
          {% include 'components/email-modal.html' %}
        </div>
      </div>
    </div>
    </div>
  </div>
</section>
{% endblock %}
