{% extends "base.html" %}

{% block content %}

<div class="row" style="padding-top: 20px">
    <div class="col-lg-4 col-md-6 col-sm-8 col-12 mx-auto">
        <div id="disclaimer" class="mb-4">
            <strong>Disclaimer</strong>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec tincidunt ligula. Proin varius tellus dui, vel feugiat ligula efficitur a. Aenean feugiat nisl sit amet turpis pharetra, vel sagittis ex tincidunt. Praesent nec augue sem. Donec ullamcorper convallis dui, non finibus nibh tempor sed. Mauris pharetra dolor nec convallis feugiat. Phasellus facilisis mauris arcu, iaculis rutrum nibh tristique ac. Nullam non pellentesque eros. Phasellus vestibulum lobortis libero. Etiam porttitor, purus tincidunt aliquam egestas, sem mauris tincidunt libero, et maximus odio orci sit amet mauris. Pellentesque et ipsum consequat, semper tortor vitae, malesuada risus. Aliquam bibendum ut nibh vel volutpat. Maecenas accumsan finibus rutrum. Integer sit amet ex at ligula hendrerit tristique ut vel nisl.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec tincidunt ligula. Proin varius tellus dui, vel feugiat ligula efficitur a. Aenean feugiat nisl sit amet turpis pharetra, vel sagittis ex tincidunt. Praesent nec augue sem. Donec ullamcorper convallis dui, non finibus nibh tempor sed. Mauris pharetra dolor nec convallis feugiat. Phasellus facilisis mauris arcu, iaculis rutrum nibh tristique ac. Nullam non pellentesque eros. Phasellus vestibulum lobortis libero. Etiam porttitor, purus tincidunt aliquam egestas, sem mauris tincidunt libero, et maximus odio orci sit amet mauris. Pellentesque et ipsum consequat, semper tortor vitae, malesuada risus. Aliquam bibendum ut nibh vel volutpat. Maecenas accumsan finibus rutrum. Integer sit amet ex at ligula hendrerit tristique ut vel nisl.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec tincidunt ligula. Proin varius tellus dui, vel feugiat ligula efficitur a. Aenean feugiat nisl sit amet turpis pharetra, vel sagittis ex tincidunt. Praesent nec augue sem. Donec ullamcorper convallis dui, non finibus nibh tempor sed. Mauris pharetra dolor nec convallis feugiat. Phasellus facilisis mauris arcu, iaculis rutrum nibh tristique ac. Nullam non pellentesque eros. Phasellus vestibulum lobortis libero. Etiam porttitor, purus tincidunt aliquam egestas, sem mauris tincidunt libero, et maximus odio orci sit amet mauris. Pellentesque et ipsum consequat, semper tortor vitae, malesuada risus. Aliquam bibendum ut nibh vel volutpat. Maecenas accumsan finibus rutrum. Integer sit amet ex at ligula hendrerit tristique ut vel nisl.
            </p>
        </div>
    </div>
</div>

{% endblock %}
