<!-- The Modal -->
<div class="modal fade" id="cancel">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Annuleren</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <p>Indien u de boeking wilt annuleren, <br>
                neem dan contact met ons op.</p>

            <p>Tel: 06-12345678</p>

            <p>Houdt er rekening mee dat boekingen waarvan de startdatum al verlopen zijn niet geannuleerd kunnen worden.</p>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sluiten</button>
        </div>
       </div>
    </div>
</div>