{% extends "base.html" %}

{% block content %}

<style>
    body {
      position: relative;
    }
    body::after {
      content: "";
      background-image: url('/static/img/singleking-desktop.jpg');
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
    form {
      background-color: #f5f5f5;
      padding: 20px;
      border-radius: 5px;
    }
    form h4 {
      color: #333;
    }
    form input[type="text"],
    form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
    form input[type="submit"] {
      color: #fff;
      border: none;
      cursor: pointer;
    }
    .error-input {
      border-color: red;
      border-width: 1px;
      border-style: solid;
      background-color: yellow;
    }
</style>

<div class="container mt-3">
<div class="row">
  {% include 'components/flash-message.html' %}
  {% include 'components/validation-message.html' %}

  <div class="col-md-6 mb-3">
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.email.label }} {{ form.email(class_=' '.join(['form-control'] + (['error-input'] if form.email.errors else []))) }}

        <br>
        {{ form.comment.label }} {{ form.comment() }}<br>
        {{ form.rating_id.label }} {{ form.rating_id() }}<br>
        {{ form.submit() }}
    </form>
  </div>

  <div class="col-md-6">
    {% for review in reviews %}
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ review.name }}</h5>
        <p class="card-text">{{ review.comment }}</p>
        <p class="card-text">
            <small class="text-muted">Beoordeling: {{ review.rating_id * '⭐' }}</small>
            <small class="text-muted float-end">Geplaatst op: {{ review.created_at.strftime('%Y-%m-%d') }}</small>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

{% endblock %}
