{% extends "base.html" %}

{% block content %}

<style>
    body {
      position: relative;
    }
    body::after {
      content: "";
      background-image: url({{ url_for('static', filename='img/singleking-desktop.jpg') }});
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
</style>

<div class="container mt-4 mb-4">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      {% include 'components/flash-message.html' %}
      <div class="card bg-white">
        {% for result in results %}
        <div class="card-body p-5">
          <h1>Ordernummer: <small>{{ result[0].booking.order_number  }}</small> </h1> <br>
          <h3>Status: <small>{{ 'Lopend' if result[0].booking.end > today else 'Verlopen' }}</small></h3>

          <hr><br>
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <input required type="text" class="form-control-lg" placeholder="Voornaam" id="first_name" name="first_name" disabled value="{{ result[0].customer.first_name }}">
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Voornaam.</small>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <input required type="text" class="form-control-lg" placeholder="Achternaam" id="last_name" name="last_name" disabled value="{{ result[0].customer.last_name }}">
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Achternaam.</small>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <input required type="text" class="form-control-lg" placeholder="Email" id="email" name="email" disabled value="{{ result[0].customer.email }}">
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Email.</small>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <input required type="text" class="form-control-lg" placeholder="Room Type:" id="room_type" name="room_type" disabled value="{{ result[0].booking.room.room_type.name }}">
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Room Type.</small>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <input required type="text" class="form-control-lg" placeholder="Kamernummer:" id="room_number" name="room_number" disabled value="{{ result[0].booking.room.number }}">
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Kamernummer.</small>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <input required type="text" class="form-control-lg" placeholder="Startdatum:" id="date_start" name="date_start" disabled value="{{ result[0].booking.start }}">
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Startdatum</small>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <input required type="text" class="form-control-lg" placeholder="Einddatum:" id="date_end" name="date_end" disabled value="{{ result[0].booking.end }}">
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Einddatum</small>
              </div>

              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text"></span>
                    <label>
                        <textarea class="form-control-lg" disabled>{{ result[0].booking.notes }}</textarea>
                    </label>
                </div>
                <small class="form-text ms-3 text-muted">Notities:</small>
              </div>

          <td><a class="btn btn-primary" href="/my-profile/bookings">Ga Terug</a></td>

          {% if current_user.is_admin == 1 %}
          <td>
             <a class="btn btn-danger" href="/my-profile/bookings/delete/{{ result[0].booking.order_number }}" data-bs-toggle="modal" data-bs-target="#delete">Annuleren</a>
             {% include 'components/delete-modal.html' %}
          </td>
          {% endif %}

          {% if current_user.is_admin == 0 %}
             <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#cancel">Annuleren</a>
             {% include 'components/cancel-modal.html' %}
          {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
</div>
</div>
</form>
</div>

{% endblock %}
