{% extends "base.html" %}

{% block content %}

<style>
    body {
      position: relative;
    }
    body::after {
      content: "";
      background-image: url({{ url_for('static', filename='img/singleking-desktop.jpg') }});
      opacity: 1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
</style>

<div class="container">
    {% include 'components/flash-message.html' %}

    <form id="filter-form" method="post">
    <div class="row">
      <div class="col-md-3">
        <div class="input-group mb-3">
          <div class="form-outline">
            <input type="search" id="ordernumber" name="ordernumber" class="form-control" placeholder="Ordernummer" />
          </div>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
      <div class="col-md-9">
        <div class="mb-3">
          <input type="hidden" id="filter-selected" name="filter-selected" value="0">
          <select class="form-select d-inline" id="filter" name="filter" style="width: 200px;" onchange="updateFilter(this.value)">
            <option value="">Sorteren op:</option>
            <option value="new">Nieuwste eerst</option>
            <option value="old">Oudste eerst</option>
            <option value="current">Lopend</option>
            <option value="expired">Verlopen</option>
          </select>
        </div>
      </div>
    </div>
    </form>

    <script>
        function updateFilter(value) {
            document.getElementById('filter').value = value;
            document.getElementById('filter-selected').value = 1; // FILTER IS NU GESELECTEERD
            document.getElementById('filter-form').submit();
        }
    </script>

    <table class="table table-striped" style="background-color: white; border-radius: 15px">
      <thead>
        <tr>
          <th>Ordernummer</th>
          <th>Room Type</th>
          <th>Kamernummer</th>
          <th>Startdatum</th>
          <th>Einddatum</th>
          <th>Status</th>
          <th>Actie</th>
        </tr>
      </thead>
      <tbody>
       {% for result in results %}
        <tr>
          <td>{{ result[0].booking.order_number }}</td>
          <td>{{ result[0].booking.room.room_type.name }}</td>
          <td> {{ result[0].booking.room.number }}</td>
          <td>{{ result[0].booking.start }}</td>
          <td>{{ result[0].booking.end }}</td>
          <td>{{ 'Lopend' if result[0].booking.end > today else 'Verlopen' }}</td>
          <td><a class="btn btn-primary" href="/my-profile/bookings/show/{{ result[0].booking.order_number }}">View</a></td>
        </tr>
       {% endfor %}
      </tbody>
    </table>
    <!-- Pagination Links-->
    <div class="text-right">
        <a href="{{ url_for('bookings_bp.my_bookings', page=results.prev_num) }}"
           class="btn btn-dark
           {% if results.page == 1 %}disabled{% endif %}">
            &laquo;
        </a>
    <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in results.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
                {% if results.page == page_num %}
                <a href="{{ url_for('bookings_bp.my_bookings', page=page_num) }}"
                   class="btn btn-primary">
                    {{ page_num }}
                </a>
                {% else %}
                <a href="{{ url_for('bookings_bp.my_bookings', page=page_num) }}"
                   class="btn btn-outline-primary">
                    {{ page_num }}
                </a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('bookings_bp.my_bookings', page=results.next_num) }}"
           class="btn btn-dark
           {% if results.page == results.pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="text-right text-white mt-3">
       Pagina {{ results.page }} van {{ results.pages }}
    </p>
  </div>
</div>
{% endblock %}
